{% extends 'userbase.html.twig' %}

{% block body %}
<div class="container-xl">
    <h1>Abgegebener Weltmeister-Tipp - {{ season.name }}</h1>

    {% if worldChampionBet|default('') %}
        {% set drvier = worldChampionBet.driver %}
        <p>Abgegebener Weltmeister-Tipp - {{ season.name }}: <b>{{ drvier.firstName }} {{ drvier.lastName }} {{ drvier.team ? '(' ~ drvier.team.name ~ ')' : '' }}</b></p>
    {% else %}
        <p>Noch kein Weltmeister-Tipp abgegeben. Es kann bis zum Start des ersten Rennens ({{ firstRace.name }}, {{ firstRace.place }}, am {{ firstRace.startDateTime|date('d.m.Y') }} um {{ firstRace.startDateTime|date('H:i') }}) getippt werden.</p>

        <div>
            <a class="btn btn-primary" href="{{ path('app_world_champion_bets_add') }}">Tipp abgeben</a>
        </div>
    {% endif %}
</div>
{% endblock %}
