{% extends 'adminbase.html.twig' %}

{% block body %}
<div class="container-xl">
    <h1>Saisonen</h1>

    <p>Für jede neue Formel 1 Saison kann hier eine neue Saison angelegt werden. Alle Rennen, Wetten, Weltmeistertipps und Strafpunkte gehören zu einer Saison. Dadurch können historische Daten aufbewahrt werden.</p>

    <p>Die Rennen, Wetten, Weltmeistertipps und Strafpunkte werden immer für die aktive Saison eingetragen. Es kann immer nur eine Saison aktiv sein. Der "Aktive Saison ändern"-Button dient zum Ändern der aktiven Saison. Dieser ist erst sichtbar, sobald es mehrere Saisonen gibt.</p>

    <div>
        <a class="btn btn-primary" href="{{ path('app_admin_seasons_new') }}">Hinzufügen</a>

        {# This case shouldnt exist. #}
        {% set isSingleInactiveSeason = false %}
        {% if seasons|length == 1 and (seasons|first).isActive == false %}
            {% set isSingleInactiveSeason = true %}
        {% endif %}

        {% if seasons|length > 1 or isSingleInactiveSeason %}
            <a class="btn btn-secondary" href="{{ path('app_admin_seasons_edit_active_season') }}">Aktive Saison ändern</a>
        {% endif %}
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-sm align-middle">
            <thead class="table-light">
                <tr>
                    <th class="col--icon-button" scope="col"></th>
                    <th class="col--icon-button" scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Weltmeister</th>
                    <th scope="col">Aktiv</th>
                </tr>
            </thead>

            <tbody>
                {% for season in seasons %}
                    <tr>
                        <td class="col--icon-button">
                            {% if season.isActive %}
                                <div data-bs-toggle="tooltip"
                                     data-bs-placement="right"
                                     title="Die aktive Saison kann nicht gelöscht werden. Ändere zuerst die aktive Saison.">
                                    <button class="btn btn-danger" disabled>
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                            {% else %}
                                {% set deleteModalId = 'season-delete-modal-' ~ season.id %}
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#{{ deleteModalId }}">
                                    <i class="bi bi-trash"></i>
                                </button>
                            {% endif %}
                        </td>
                        <td class="col--icon-button">
                            <a class="btn btn-primary" href="{{ path('app_admin_seasons_edit', {id: season.id}) }}">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </td>
                        <td>
                            <span>{{ season.name }}</span>
                        </td>
                        <td>
                            {% set worldChampion = season.worldChampion|default('') %}
                            {% if worldChampion %}
                                <span>{{ worldChampion.firstName|default('') }} {{ worldChampion.lastName|default('') }}</span>
                            {% else %}
                                <span>-</span>
                            {% endif %}
                        </td>
                        <td>
                            {% include 'includes/isActiveIcon.html.twig' with { 'isActive': season.isActive } %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% for season in seasons %}
        {% set deleteModalId = 'season-delete-modal-' ~ season.id %}
        {% set titleText = 'Saison "' ~ season.name ~ '" löschen?'  %}

        {% set bodyHtml %}
            <p>Soll die Saison <u>{{ season.name }}</u> wirklich gelöscht werden? Das Löschen <u>kann nicht rückgängig gemacht werden.</u></p>

            <p>Dabei gehen alle Daten für diese Saison verloren:</p>

            <ul>
                <li>Rennen</li>
                <li>Rennergebnisse und Wetten darauf</li>
                <li>Weltmeister-Titel und Wetten darauf</li>
                <li>Strafpunkte</li>
                <li>Rangliste</li>
            </ul>

            <div class="alert alert-danger" role="alert">
                Die <b>komplette Saison wird damit unwiederbringlich gelöscht</b> und <b>alle Wettdaten für diese Saison gehen verloren!</b>
            </div>

            <p>Falls eine neue Saison beginnnt muss die alte Saison nicht gelöscht werden. Stattdessen kann in der <a href="{{ path('app_admin_seasons_new') }}">"Neue Saison"-Oberfläche</a> einfach eine neue Saison erstellt werden.</p>

            <p>Falls bereits eine neue Saison erstellt wurde kann diese in der <a href="{{ path('app_admin_seasons_edit_active_season') }}">"Aktive Saison ändern"-Oberfläche</a> aktiviert werden.</p>
        {% endset %}

        {% include 'includes/deleteConfirmModal.html.twig' with {
            'id': deleteModalId,
            'titleText': titleText,
            'bodyHtml': bodyHtml,
            'deleteHref': path('app_admin_seasons_delete', {id: season.id}),
            'deleteText': 'Saison permanent löschen'
        } %}
    {% endfor %}
</div>
{% endblock %}
