{% extends 'adminbase.html.twig' %}

{% block body %}
<div class="container-xl">
    <h1>Benutzer</h1>

    <p>Die aktiven Benutzer sind die, die aktuell mitwetten. Indem Benutzer nicht gelöscht, sondern stattdessen deaktiviert werden, kann die Wetthistorie bewahrt werden.</p>

    <div>
        <a class="btn btn-primary" href="{{ path('app_admin_users_new') }}">Hinzufügen</a>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-sm align-middle">
            <thead>
                <tr>
                    <th class="col--icon-button" scope="col"></th>
                    <th class="col--icon-button" scope="col"></th>
                    <th class="col--icon-button" scope="col"></th>
                    <th scope="col">Vorname</th>
                    <th scope="col">Nachname</th>
                    <th scope="col">E-Mail</th>
                    <th scope="col">Administrator</th>
                    <th scope="col">Aktiv</th>
                </tr>
            </thead>

            <tbody>
                {% for user in users %}
                    <tr>
                        <td class="col--icon-button">
                            {% if ROLE['ADMIN'] in user.roles %}
                                <div data-bs-toggle="tooltip"
                                     data-bs-placement="right"
                                     title="Administratoren können nicht gelöscht werden. Entferne zuerst die Administrator-Rechte vom Benutzer.">
                                    <button class="btn btn-danger" disabled>
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                            {% else %}
                                {% set deleteModalId = 'users-delete-modal-' ~ user.id %}
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#{{ deleteModalId }}">
                                    <i class="bi bi-trash"></i>
                                </button>
                            {% endif %}
                        </td>
                        <td class="col--icon-button">
                            <a class="btn btn-primary" href="{{ path('app_admin_users_edit', {id: user.id}) }}">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </td>
                        <td class="col--icon-button">
                            <a class="btn btn-secondary" href="{{ path('app_admin_users_change_password', {id: user.id}) }}">
                                <i class="bi bi-lock"></i>
                            </a>
                        </td>
                        <td>
                            <span>{{ user.firstName }}</span>
                        </td>
                        <td>
                            <span>{{ user.lastName }}</span>
                        </td>
                        <td>
                            <span>{{ user.email }}</span>
                        </td>
                        <td>
                            {% include 'includes/isActiveIcon.html.twig' with { 'isActive': ROLE['ADMIN'] in user.roles } %}
                        </td>
                        <td>
                            {% include 'includes/isActiveIcon.html.twig' with { 'isActive': user.isActive } %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% for user in users %}
        {% set userName = (user.firstName|default('') ~ ' ' ~ user.lastName|default(''))|trim %}

        {% set deleteModalId = 'users-delete-modal-' ~ user.id %}
        {% set titleText = 'Benutzer "' ~ userName ~ '" löschen?'  %}

        {% set bodyHtml %}
            <p>Soll der Benutzer <u>{{ userName }}</u> wirklich gelöscht werden? Das Löschen <u>kann nicht rückgängig gemacht werden.</u></p>

            <p>Folgende Daten, die mit diesem Benutzer zusammenhängen, werden dabei mitgelöscht:</p>

            <ul>
                <li>Wetten auf Rennergebnisse</li>
                <li>Wetten auf Weltmeister-Titel</li>
                <li>Strafpunkte</li>
            </ul>

            <div class="alert alert-danger" role="alert">
                Die <b>Rangliste</b> kann sich dadurch für die aktuelle und auch vergangene Saisonen <b>rückwirkend verändern!</b>
            </div>

            <p>Benutzer, die zumindest bei einer Saison mitgewettet haben, sollten nicht gelöscht, sondern in der <a href="{{ path('app_admin_users_edit', {id: user.id}) }}">"Benutzer bearbeiten"-Oberfläche</a> auf inaktiv gesetzt werden.</p>
        {% endset %}

        {% include 'includes/deleteConfirmModal.html.twig' with {
            'id': deleteModalId,
            'titleText': titleText,
            'bodyHtml': bodyHtml,
            'deleteHref': path('app_admin_users_delete', {id: user.id}),
            'deleteText': 'Benutzer permanent löschen'
        } %}
    {% endfor %}
</div>
{% endblock %}
