{% extends 'adminbase.html.twig' %}

{% block body %}
<div class="container-xl">
    <h1>Teams</h1>

    <div>
        <a class="btn btn-primary" href="{{ path('app_admin_teams_new') }}">Hinzufügen</a>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-sm align-middle">
            <thead>
                <tr>
                    <th class="col--icon-button" scope="col"></th>
                    <th class="col--icon-button" scope="col"></th>
                    <th scope="col">Name</th>
                </tr>
            </thead>

            <tbody>
                {% for team in teams %}
                    <tr>
                        <td class="col--icon-button">
                            {% set deleteModalId = 'teams-delete-modal-' ~ team.id %}

                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#{{ deleteModalId }}">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                        <td class="col--icon-button">
                            <a class="btn btn-primary" href="{{ path('app_admin_teams_edit', {id: team.id}) }}">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </td>
                        <td>
                            <span>{{ team.name }}</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% for team in teams %}
        {% set deleteModalId = 'teams-delete-modal-' ~ team.id %}
        {% set titleText = 'Team "' ~ team.name ~ '" löschen?'  %}

        {% set bodyHtml %}
            <p>Soll das Team <u>{{ team.name }}</u> wirklich gelöscht werden? Das Löschen <u>kann nicht rückgängig gemacht werden.</u></p>

            <p>Folgende Daten, die mit diesem Team zusammenhängen, werden dabei mitgelöscht:</p>

            <ul>
                <li>Zuweisung zu den Fahrern des Teams (die Fahrer bleiben bestehen, diese gehören dann nur keinem Team mehr an)</li>
            </ul>
        {% endset %}

        {% include 'includes/deleteConfirmModal.html.twig' with {
            'id': deleteModalId,
            'titleText': titleText,
            'bodyHtml': bodyHtml,
            'deleteHref': path('app_admin_teams_delete', {id: team.id}),
            'deleteText': 'Team permanent löschen'
        } %}
    {% endfor %}
</div>
{% endblock %}
