{% extends 'userbase.html.twig' %}

{% block body %}
<div class="container-xl">
    <h1>Tipps von {{ user.firstName }} {{ user.lastName}} - {{ season.name }}</h1>

    <p>Tipps von {{ user.firstName }} {{ user.lastName}} - {{ season.name }}</p>

    <div class="table-responsive">
        <table class="table table-sm align-middle table-borderless">
            <thead class="table-light">
                <tr class="border-bottom border-dark">
                    <th scope="col">Rennen</th>
                    <th scope="col">Fahrer</th>
                    <th scope="col">Team</th>
                    <th class="text-end" scope="col">Tipp</th>
                    <th class="text-end" scope="col">Platz</th>
                    <th class="text-end" scope="col">Punkte</th>
                </tr>
            </thead>

            <tbody class="text-nowrap">
                {% set rowStyle = '' %}

                {% for raceScoreCalculator in resultsForUser.raceScoreCalculatorsOfUser %}
                    {% set specialRowStyle = '' %}
                    {% set race = raceScoreCalculator.race %}
                    {% set racenameClasses = '' %}
                    {% set wasNameDisplayed = false %}

                    {# Check if the race score a daily winner and style accordingly. #}
                    {% set bestOfTheRaceScoreShare = raceScoreCalculator.bestOfTheRaceScoreShare %}
                    {% set bestOfTheRaceTooltip = '' %}
                    {% if bestOfTheRaceScoreShare > 0 %}
                        {% set specialRowStyle = 'table-success' %}
                        {% set bestOfTheRaceTooltip %}
                            {% set tooltipTitle = bestOfTheRaceScoreShare < 1
                                ? bestOfTheRaceScoreShare ~ ' Tagessieg-Punkte'
                                : '1 Tagessieg-Punkt'
                            %}
                            <i class="bi bi-info-circle-fill"
                               data-bs-toggle="tooltip"
                               data-bs-placement="right"
                               title="{{ tooltipTitle }}"></i>
                        {% endset %}
                    {% endif %}

                    {# Check if the race score is discarded and style accordingly.#}
                    {% set isScoreDiscarded = raceScoreCalculator.isScoreDiscarded %}
                    {% set isScoreDiscardedTooltip = '' %}
                    {% if isScoreDiscarded %}
                        {% set racenameClasses = 'text-decoration-line-through' %}
                        {% set isScoreDiscardedTooltip %}
                            <i class="bi bi-info-circle-fill"
                               data-bs-toggle="tooltip"
                               data-bs-placement="right"
                               title="Streichresultat"></i>
                        {% endset %}
                    {% endif %}

                    {% set raceDisplay %}
                        <a href="{{ path('app_race_result_bets', {id: race.id}) }}"
                           class="{{ racenameClasses }}">{{ race.name }} - {{ race.place }}</a>
                        {{ bestOfTheRaceTooltip|raw }}
                        {{ isScoreDiscardedTooltip|raw }}
                    {% endset %}

                    {% set isBetShown = false %}
                    {% for raceResultBetScoreCalculator in raceScoreCalculator.raceResultBetScoreCalculators %}
                        {% set isBetShown = true %}
                        {% set raceResult = raceResultBetScoreCalculator.raceResult|default('') %}
                        {% set raceResultBet = raceResultBetScoreCalculator.raceResultBet|default('') %}
                        {% set driver = raceResultBet.driver %}

                        <tr class="{{ specialRowStyle|default(rowStyle) }}">
                            <td>
                                {% if loop.first %}
                                    {{ raceDisplay|raw }}
                                    {% set wasNameDisplayed = true %}
                                {% endif %}
                            </td>
                            <td>
                                <span>{{ driver.firstName }} {{ driver.lastName }}</span>
                            </td>
                            <td>
                                <span>{{ driver.team.name|default('-') }}</span>
                            </td>
                            <td class="text-end">
                                <span>{{ raceResultBet.position }}</span>
                            </td>
                            <td class="text-end">
                                <span>{{ raceResult.position|default('-') }}</span>
                            </td>
                            <td class="text-end">
                                <span>{{ raceResultBetScoreCalculator.score|default('-') }}</span>
                            </td>
                        </tr>
                    {% endfor %}

                    {% set isPenaltyPointsAwardShow = false %}
                    {% set penaltyPoints = raceScoreCalculator.penaltyPoints %}
                    {% if penaltyPoints is not null %}
                        {% set isPenaltyPointsAwardShow = true %}
                        <tr class="{{ specialRowStyle|default(rowStyle) }}">
                            <td>
                                {% if wasNameDisplayed == false %}
                                    {{ raceDisplay|raw }}
                                    {% set wasNameDisplayed = true %}
                                {% endif %}
                            </td>
                            <td colspan="4">
                                <span>Strafpunkte</span>
                            </td>
                            <td class="text-end">
                                <span>{{ penaltyPoints }}</span>
                            </td>
                        </tr>
                    {% endif %}

                    {% if isBetShown or isPenaltyPointsAwardShow %}
                        <tr class="{{ specialRowStyle|default(rowStyle) }} border-bottom border-dark">
                            <td>
                                {% if wasNameDisplayed == false %}
                                    {{ raceDisplay|raw }}
                                    {% set wasNameDisplayed = true %}
                                {% endif %}
                            </td>
                            <td colspan="4" class="border-top border-dark">
                                <b>Summe</b>
                            </td>
                            <td class="text-end border-top border-dark">
                                <span>{{ raceScoreCalculator.score|default('-') }}</span>
                            </td>
                        </tr>
                    {% endif %}

                    {% if wasNameDisplayed %}
                        {% set rowStyle = rowStyle|length > 0 ? '' : 'table-light' %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
