{% extends 'adminbase.html.twig' %}

{% block body %}
<div class="container-xl">
    <h1>Fahrer</h1>

    <div>
        <a class="btn btn-primary" href="{{ path('app_drivers_new') }}">Hinzufügen</a>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-sm align-middle">
            <thead>
                <tr>
                    <th class="col--icon-button" scope="col"></th>
                    <th class="col--icon-button" scope="col"></th>
                    <th scope="col">Vorname</th>
                    <th scope="col">Nachname</th>
                    <th scope="col">Team</th>
                    <th scope="col">Aktiv</th>
                </tr>
            </thead>

            <tbody>
                {% for driver in drivers %}
                    <tr>
                        <td class="col--icon-button">
                            <a class="btn btn-danger" href="{{ path('app_drivers_delete', {id: driver.id}) }}">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                        <td class="col--icon-button">
                            <a class="btn btn-primary" href="{{ path('app_drivers_edit', {id: driver.id}) }}">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </td>
                        <td>
                            <span>{{ driver.firstName }}</span>
                        </td>
                        <td>
                            <span>{{ driver.lastName }}</span>
                        </td>
                        <td>
                            <span>{{ driver.team.name }}</span>
                        </td>
                        <td>
                            {% include 'includes/isActiveIcon.html.twig' with { 'isActive': driver.isActive } %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
