{% extends 'adminbase.html.twig' %}

{% block body %}
<div class="container-xl">
    <h1>Fahrer</h1>

    <p>Die aktiven Fahrer sind die, die in der aktuellen Saison mitfahren. Indem Fahrer nicht gelöscht, sondern stattdessen deaktiviert werden, kann die Wetthistorie bewahrt werden.</p>

    <p>Nur auf aktive Fahrer kann getippt werden. Somit werden den Benutzern auch nur die wirklich relevanten Fahrer angezeigt.</p>

    <div>
        <a class="btn btn-primary" href="{{ path('app_admin_drivers_new') }}">Hinzufügen</a>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-sm align-middle">
            <thead>
                <tr>
                    <th class="col--icon-button" scope="col"></th>
                    <th class="col--icon-button" scope="col"></th>
                    <th scope="col">Vorname</th>
                    <th scope="col">Nachname</th>
                    <th scope="col">Team</th>
                    <th scope="col">Aktiv</th>
                </tr>
            </thead>

            <tbody>
                {% for driver in drivers %}
                    <tr>
                        <td class="col--icon-button">
                            {% set deleteModalId = 'drivers-delete-modal-' ~ driver.id %}
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#{{ deleteModalId }}">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                        <td class="col--icon-button">
                            <a class="btn btn-primary" href="{{ path('app_admin_drivers_edit', {id: driver.id}) }}">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </td>
                        <td>
                            <span>{{ driver.firstName }}</span>
                        </td>
                        <td>
                            <span>{{ driver.lastName }}</span>
                        </td>
                        <td>
                            {% set teamName = '-' %}
                            {% if driver.team %}
                                {% set teamName = driver.team.name|default('-') %}
                            {% endif %}
                            <span>{{ teamName }}</span>
                        </td>
                        <td>
                            {% include 'includes/isActiveIcon.html.twig' with { 'isActive': driver.isActive } %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% for driver in drivers %}
        {% set driverName = (driver.firstName|default('') ~ ' ' ~ driver.lastName|default(''))|trim %}

        {% set deleteModalId = 'drivers-delete-modal-' ~ driver.id %}
        {% set titleText = 'Fahrer "' ~ driverName ~ '" löschen?'  %}

        {% set bodyHtml %}
            <p>Soll der Fahrer <u>{{ driverName }}</u> wirklich gelöscht werden? Das Löschen <u>kann nicht rückgängig gemacht werden.</u></p>

            <p>Folgende Daten, die mit diesem Faher zusammenhängen, werden dabei mitgelöscht:</p>

            <ul>
                <li>Rennergebnisse und Wetten darauf</li>
                <li>Weltmeister-Titel und Wetten darauf</li>
                <li>Zuweisung zum Team des Fahrers (das Team bleibt jedoch bestehen)</li>
            </ul>

            <div class="alert alert-danger" role="alert">
                Die <b>Rangliste</b> kann sich dadurch für die aktuelle und auch vergangene Saisonen <b>rückwirkend verändern!</b>
            </div>

            <p>Fahrer, die zumindest in einem Rennen mitgefahren sind, sollten nicht gelöscht, sondern in der <a href="{{ path('app_admin_drivers_edit', {id: driver.id}) }}">"Fahrer bearbeiten"-Oberfläche</a> auf inaktiv gesetzt werden.</p>
        {% endset %}

        {% include 'includes/deleteConfirmModal.html.twig' with {
            'id': deleteModalId,
            'titleText': titleText,
            'bodyHtml': bodyHtml,
            'deleteHref': path('app_admin_drivers_delete', {id: driver.id}),
            'deleteText': 'Fahrer permanent löschen'
        } %}
    {% endfor %}
</div>
{% endblock %}
