{% extends 'userbase.html.twig' %}

{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

{% block body %}
<div class="container-xl">
    <h1>Tipp abgeben - {{ race.name}} - {{ season.name }}</h1>

    <p>Gib für 3 Fahrer deinen Tipp ab.</p>

    {% set formId = 'raceResultBetsForm' %}

    {{ form_start(form, {
        'method': 'POST',
        'attr': { 'id': formId }
    }) }}
    {{ form_end(form, {render_rest: false}) }}

    {{ form_errors(form) }}

    <div class="table-responsive">
        <table class="table table-sm align-middle">
            <thead class="table-light">
            <tr>
                <th scope="col">Vorname</th>
                <th scope="col">Nachname</th>
                <th scope="col">Team</th>
                <th scope="col">Position</th>
            </tr>
            </thead>

            <tbody>
            {% for raceResultBet in raceResultBets %}
                <tr>
                    <td>
                        <span>{{ raceResultBet.driver.firstName }}</span>
                    </td>
                    <td>
                        <span>{{ raceResultBet.driver.lastName }}</span>
                    </td>
                    <td>
                        {% set teamName = '-' %}
                        {% if raceResultBet.driver.team %}
                            {% set teamName = raceResultBet.driver.team.name|default('-') %}
                        {% endif %}
                        <span>{{ teamName }}</span>
                    </td>
                    <td>
                        {{ form_widget(form[raceResultBet.driver.id], {
                            'attr': {
                                'form': formId
                            }
                        }) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ form_row(form['_token'], {
        'attr': {
            'form': formId
        }
    }) }}

    {{ form_widget(form['submit'], {
        'attr': {
            'form': formId
        }
    }) }}
</div>
{% endblock %}
