{% extends 'adminbase.html.twig' %}

{% block body %}
<div class="container-xl">
    <h1>Rennen - {{ season.name }}</h1>

    <p>Rennen für die Saison "{{ season.name }}"</p>

    <div>
        <a class="btn btn-primary" href="{{ path('app_admin_races_new') }}">Hinzufügen</a>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-sm align-middle">
            <thead>
                <tr>
                    <th class="col--icon-button" scope="col"></th>
                    <th class="col--icon-button" scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Ort</th>
                    <th scope="col">Datum</th>
                    <th scope="col">Uhrzeit</th>
                </tr>
            </thead>

            <tbody>
                {% for race in races %}
                    <tr>
                        <td class="col--icon-button">
                            {% set deleteModalId = 'races-delete-modal-' ~ race.id %}

                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#{{ deleteModalId }}">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                        <td class="col--icon-button">
                            <a class="btn btn-primary" href="{{ path('app_admin_races_edit', {id: race.id}) }}">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </td>
                        <td>
                            <span>{{ race.name }}</span>
                        </td>
                        <td>
                            <span>{{ race.place }}</span>
                        </td>
                        <td>
                            <span>{{ race.startDate|date('d.m.Y') }}</span>
                        </td>
                        <td>
                            <span>{{ race.startTime|date('H:i') }}</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% for race in races %}
        {% set deleteModalId = 'races-delete-modal-' ~ race.id %}
        {% set titleText = 'Rennen "' ~ race.name ~ '" der Saison "' ~ season.name ~ '" löschen?'  %}

        {% set bodyHtml %}
            <p>Soll das Rennen <u>{{ race.name }}</u> der Saison <u>{{ season.name }}</u> wirklich gelöscht werden? Das Löschen <u>kann nicht rückgängig gemacht werden.</u></p>

            <p>Folgende Daten, die mit diesem Rennen zusammenhängen, werden dabei mitgelöscht:</p>

            <ul>
                <li>Rennergebnisse und Wetten darauf</li>
                <li>Strafpunkte</li>
            </ul>

            <div class="alert alert-danger" role="alert">
                Die <b>Rangliste</b> kann sich dadurch für die aktuelle und auch vergangene Saisonen <b>rückwirkend verändern!</b>
            </div>
        {% endset %}

        {% include 'includes/deleteConfirmModal.html.twig' with {
            'id': deleteModalId,
            'titleText': titleText,
            'bodyHtml': bodyHtml,
            'deleteHref': path('app_admin_races_delete', {id: race.id}),
            'deleteText': 'Rennen permanent löschen'
        } %}
    {% endfor %}
</div>
{% endblock %}
